    /*
    Flaticon icon font: Flaticon
    Creation date: 12/11/2020 04:17
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-layer:before { content: "\f100"; }
.flaticon-network:before { content: "\f101"; }
.flaticon-prototype:before { content: "\f102"; }
.flaticon-delivery-truck:before { content: "\f103"; }
.flaticon-city-hall:before { content: "\f104"; }
.flaticon-supermarket:before { content: "\f105"; }
.flaticon-enterprise:before { content: "\f106"; }
.flaticon-website:before { content: "\f107"; }
    
    $font-Flaticon-layer: "\f100";
    $font-Flaticon-network: "\f101";
    $font-Flaticon-prototype: "\f102";
    $font-Flaticon-delivery-truck: "\f103";
    $font-Flaticon-city-hall: "\f104";
    $font-Flaticon-supermarket: "\f105";
    $font-Flaticon-enterprise: "\f106";
    $font-Flaticon-website: "\f107";